.actions {
	padding-top: 50px;
	@include m-phone() {
		padding-top: 30px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.owl {
		&-stage {
			&-outer {
				overflow: visible;
			}
		}
		&-item {
			&.active {
				.actions {
					&__item {
						opacity: 1;
					}
				}
			}
		}
	}
	&__item {
		opacity: 0.3;
		transition: opacity $trsn;
	}
	&__image {
		&-wrap {
			@include picture(50, cover);
		}
	}
}