.advantages {
	margin-top: 60px;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: -80px;
	@include m-tablet() {
		margin-bottom: -50px;
	}
	@include m-phone() {
		margin-bottom: 0;
	}
	&__item {
		@include flex-item(5, 30px);
		margin-bottom: 80px;
		@include m-tablet() {
			&:nth-child(5n) {
				margin-right: 30px;
			}
			@include flex-item(4, 30px);
			&:last-child {
				margin-right: 0;
			}
			margin-bottom: 50px;
		}
		@include m-phone() {
			@include flex-item(1, 0px);
			img {
				width: auto !important;
			}
		}
	}
	&__image {
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin-bottom: 30px;
		&:before {
			position: absolute;
			content: '';
			width: 100px;
			height: 100px;
			background: radial-gradient(50% 50% at 50% 50%, rgba(142, 28, 46, 0.2) 0%, rgba(142, 28, 46, 0) 100%);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
	&__descr {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		text-align: center;
		@include m-tablet() {
			font-size: 14px;
			line-height: 18px;
		}
	}
}