.card-slider {
    position: relative;

    &__image {
        position: relative;
        opacity: 0;


        @include m-phone {
            display: none;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        position: absolute;
        left: 0;
        opacity: 0;
        transition: opacity .7s, transform .7s, left .7s, top .7s, height .7s;
        height: 40%;
        top: 30%;
        user-select: none;

        @include m-phone {
            position: static;
            opacity: 1 !important;
            height: 364px !important;

            img {
                width: 290px;
            }

            &:after {
                display: none !important;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #000;
            opacity: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-width: 0;
        }
    }

    &__item.prev {
        left: 25px;
        height: 72%;
        top: 14%;
        opacity: 1;

        @include m-tablet-wide {
            opacity: 0;
        }

        &:after {
            opacity: .8;
        }
    }

    &__item.active {
        left: 100px;
        opacity: 1;
        top: 0;
        height: 100%;
        z-index: 10;

        @include m-tablet-wide {
            left: 0;
        }
    }

    &__item.next {
        left: 200px;
        height: 72%;
        top: 14%;
        z-index: 8;
        opacity: 1;

        @include m-tablet-wide {
            left: 120px;
        }

        &:after {
            opacity: .3;
        }
    }

    &__item.next-next {
        height: 58%;
        top: 22%;
        left: 670px;
        opacity: 1;
        z-index: 6;

        @include m-tablet-wide {
            left: 230px;
        }

        &:after {
            opacity: .6;
        }
    }

    &__button {
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 11;
        margin-top: -25px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: all .3s;

        @include m-phone {
            display: none;
        }

        &:hover {
            background-color: #dcdcdc;
        }

        svg {
            height: 15px;
            fill: $color_body;
        }

        &_prev {
            transform: scaleX(-1);

            @include m-tablet-wide {
                left: -25px;
            }
        }

        &_next {
            left: 662px;

            @include m-tablet-wide {
                left: 475px;
            }
        }
    }
    .owl{
        &-nav{            
            @include m-phone {
                width: 100%;
                top: 100%;
                margin-top: 40px;
            }            
        }
        &-control{
            @include m-phone {
                width: 40px;
                height: 40px;
            }
            svg{
                @include m-phone {
                    width: 7px;
                }
            }
        }
        &-dots{
            @include m-phone {
                bottom: -45px;
            }
        }
    }
}
