.checkprice {
	margin-top: 50px;
	&__bg{
		background: url('../img/style/checkprice_bg.jpg') no-repeat center;
		background-size: cover;
		padding-top: 130px;
		padding-bottom: 90px;
		@include m-tablet() {
			padding: 60px 0 80px;
		}
		@include m-phone() {
			padding: 80px 0 90px;
		}
	}
	&__photos {
		display: flex;
		align-items: stretch;
		justify-content: center;
		@include m-phone() {
			flex-wrap: wrap;
			justify-content: flex-start;
		}
		&-item {
			height: 85px;
			width: 120px;
			overflow: hidden;
			margin: 0 15px;
			cursor: pointer;
			position: relative;
			@include m-phone() {
				margin: 0;
				width: auto;
				@include flex-item(2, 10px);
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&:before {
				position: absolute;
				content: '';
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: #000;
				opacity: 0;
				transition: opacity $trsn;
				z-index: 1;
			}
			&:after {
				position: absolute;
				content: '';
				width: 15px;
				height: 15px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url("../img/style/icons/icon_close.svg") no-repeat center center / contain;
				opacity: 0;
				transition: opacity $trsn;
				z-index: 2;
			}
			&:hover {
				&:before {
					opacity: 0.7;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&__inputs {
		display: flex;
		align-items: stretch;
		justify-content: center;
		padding-top: 50px;
		margin-bottom: 30px;
		@include m-phone() {
			display: block;
			padding-top: 30px;
		}
	}
	&__input {
		max-width: 300px;
		width: 100%;
		margin: 0 10px;
		@include m-tablet() {
			max-width: 190px;
		}
		@include m-phone() {
			max-width: 100%;
			margin: 10px 0;
		}
	}
	&__button {
		margin-left: 10px;
		@include m-phone() {
			margin-left: 0;
		}
		.button {
			height: 52px;
			@include m-phone() {
				height: 46px;
			}
		}
	}
	&__warn {
		font-size: 12px;
		line-height: 16px;
		text-align: center;
		a {
			border-bottom: 1px solid currentColor;
			transition: border-bottom $trsn;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
}