.contacts {
	&__wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include m-phone() {
			display: block;
		}
	}
	&__title {
		color: $color_body;
		font-weight: 700;
		font-size: 38px;
		line-height: 46px;
		text-transform: uppercase;
		flex: 0 0 325px;
		position: relative;
		padding: 40px 0;
		@include m-tablet-wide() {
			flex: 0 0 270px;
		}
		@include m-tablet() {
			font-size: 30px;
			line-height: 36px;
			flex: 0 0 200px;
			padding: 30px 0;
		}
		@include m-phone() {
			font-size: 24px;
			line-height: 29px;
			text-align: center;
			padding: 20px 0;
			margin-bottom: 30px;
		}
		&:before {
			position: absolute;
			content: '';
			width: 50vw;
			right: 0;
			height: 100%;
			top: 0;
			background-color: #fff;
			z-index: -1;
			@include m-phone() {
				width: 100vw;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	&__items {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex: 1 1 100%;
		padding-left: 70px;
		@include m-tablet() {
			padding-left: 40px;
		}
		@include m-phone() {
			padding-left: 0;
			display: block;
		}
	}
	&__item {
		@include m-phone() {
			margin-bottom: 30px;
		}
	}
	&__label {
		font-size: 14px;
		line-height: 17px;
		opacity: 0.8;
		margin-bottom: 4px;
	}
	&__value {
		font-weight: 500;
		font-size: 20px;
		line-height: 22px;
		@include m-tablet() {
			font-size: 16px;
			line-height: 18px;
		}
	}
}