.gallery {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	@include m-tablet() {
		display: block;
	}
	@include m-phone {
		margin-bottom: 30px;
	}
	&__col {
		&_small {
			flex: 0 0 555px;
			margin-right: 65px;
			@include m-tablet-wide() {
				flex: 0 0 350px;
			}
			@include m-tablet() {
				margin-right: 0;
				margin-bottom: 40px;
			}
		}
		&_large {
			flex: 0 0 800px;
			min-width: 0;
		}
	}
	&__title {
		text-align: left;
		max-width: 400px;
		margin-bottom: 35px;
	}
	&__descr{
		line-height: 24px;
	}
}