.main-info {
	padding: 200px 0 220px;
	@include m-tablet-wide() {
		padding: 150px 0;
	}
	@include m-phone() {
		padding: 20px 0 0;
	}
	&__wrap {
		position: relative;
		display: inline-block;
		&:before {
			position: absolute;
			content: '';
			width: calc(100% + 100px);
			height: calc(100% + 100px);
			background: rgba(0, 0, 0, 0.6);
			filter: blur(30px);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
	}
	&__title {
		font-weight: 700;
		font-size: 46px;
		line-height: 55px;
		margin-bottom: 52px;
		max-width: 660px;
		@include m-phone() {
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 24px;
		}
		&-line {
			font-weight: 400;
			text-decoration: line-through;
		}
	}
}
