.masters {
	margin-top: 50px;
	&__item {
		background-color: #131313;
		padding: 30px;
		@include m-tablet() {
			padding: 20px 15px;
		}
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 30px;
		&_fs {
			align-items: flex-start;
		}
	}
	&__image {
		flex: 0 0 95px;
		margin-right: 20px;
		border-radius: 50%;
		overflow: hidden;
		&-wrap {
			@include picture(100, cover);
		}
		@include m-tablet() {
			flex: 0 0 60px;
		}
	}
	&__name {
		font-weight: 700;
		font-size: 22px;
		line-height: 29px;
		margin-bottom: 5px;
		@include m-tablet() {
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 2px;
		}
	}
	&__job {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 10px;
		flex: 1 1 125px;
	}
	&__data {
		&:not(:last-child) {
			margin-right: 30px;
		}
		&-num {
			font-size: 24px;
			font-weight: 700;
			line-height: 29px;
			margin-bottom: 5px;
			@include m-tablet() {
				font-size: 18px;
				line-height: 24px;
			}
		}
		&-descr {
			font-size: 14px;
			line-height: 17px;
		}
	}
	&__button {
		margin-bottom: 25px;
	}
	&__more {
		display: flex;
		justify-content: center;
		&-btn {
			font-weight: bold;
			font-size: 12px;
			line-height: 14px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			border-bottom: 1px solid currentColor;
			transition: border-bottom $trsn;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
}