.rating {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	&__item {
		flex: 0 0 15px;
		width: 15px;
		height: 15px;
		margin-right: 5px;
		fill: #A9A9A9;
		svg {
			width: 100%;
			height: 100%;
		}
		&.active {
			fill: #F2C94C;
		}
	}
}