.services {
	padding-top: 30px;
	&__title {
		text-align: center;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		margin-bottom: 30px;
	}
	&__container {
		display: flex;
		align-items: stretch;
		justify-content: flex-start;
		flex-wrap: wrap;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
		&.active {
			visibility: visible;
		}
		&_static {
			visibility: visible !important;
			position: static !important;
			@include m-phone() {
			}
		}
		@include m-phone() {
			display: block;
				padding: 0 50px;
				.owl-stage-outer {
					overflow: visible;
				}

			img {
				width: auto !important;
			}
		}
	}
	&__content {
		margin-bottom: 50px;
		transition: height $trsn;
		position: relative;
	}
	&__radio {
		position: relative;
		@include flex-item(6, 20px);
		display: block;
		cursor: pointer;
		@include m-tablet-wide() {
			&:nth-child(6n) {
				margin-right: 20px;
			}
			@include flex-item(4, 20px);
		}
		@include m-tablet() {
			&:nth-child(4n) {
				margin-right: 20px;
			}
			@include flex-item(3, 20px);
		}
		@include m-phone() {
			@include flex-item(1, 0px);
		}
		input[type=radio] {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			-webkit-apeearance: none;
			&:checked {
				& + span {
					border-color: #8E1C2E;
					background-color: #8E1C2E;
				}
			}
		}
		span {
			display: block;
		}
		&-wrap {
			padding: 20px;
			border: 1px solid #2E2E2E;
			height: 100%;
			transition: background-color $trsn;
		}
		&-image {
			height: 30px;
			margin-bottom: 15px;
		}
		&-title {
			font-size: 15px;
			font-weight: 500;
			line-height: 18px;
			@include m-phone() {
				min-height: 36px;
			}
		}
	}
	&__checkbox {
		position: relative;
		@include flex-item(6, 20px);
		display: block;
		cursor: pointer;
		overflow: hidden;
		@include m-tablet-wide() {
			&:nth-child(6n) {
				margin-right: 20px;
			}
			@include flex-item(4, 20px);
		}

		@include m-tablet() {
			&:nth-child(4n) {
				margin-right: 20px;
			}
			@include flex-item(3, 20px);
		}
		@include m-phone() {
			@include flex-item(1, 0px);
		}
		input[type=checkbox] {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			-webkit-apeearance: none;
			&:checked {
				& + span {
					border: 1px solid $color_red;
					&:before {
						opacity: 1;
					}
				}
			}
		}
		span {
			display: block;
		}
		&-wrap {
			padding: 20px;
			border: 1px solid #2E2E2E;
			height: 100%;
			position: relative;
			transition: border $trsn;
			&:before {
				position: absolute;
				content: '';
				width: 30px;
				height: 30px;
				background-color: $color_red;
				right: 0;
				top: 0;
				transform: translate(50%, -50%) rotate(-45deg);
				opacity: 0;
				transition: opacity $trsn;
			}
		}
		&-title {
			font-size: 15px;
			font-weight: 500;
			line-height: 18px;
			margin-bottom: 6px;
			@include m-phone() {
				min-height: 54px;
			}
		}
	}
	&__total {
		font-size: 26px;
		line-height: 31px;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 30px;
		span {
			font-weight: 700;
		}
	}
	&__button {
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
	}
	&__warn {
		font-size: 14px;
		line-height: 24px;
		text-align: center;
	}
}