.spinwheel {
	padding-top: 43px;
	&__slider {
		padding-top: 30px;
		position: relative;
		max-width: 910px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 65px;
		@include m-phone() {
			max-width: 160px;
			margin-bottom: 55px;
		}
		&:before {
			position: absolute;
			content: '';
			width: 196px;
			height: 196px;
			border: 2px solid $color_red;
			top: 13px;
			left: 50%;
			transform: translateX(-50%);
			@include m-tablet() {
				width: 163px;
				height: 159px;
			}
			@include m-phone() {
				width: 193px;
				height: 193px;
			}
		}
		&:after {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			pointer-events: none;
			background: linear-gradient(270deg, #191919 0%, rgba(25, 25, 25, 0) 20%, rgba(25, 25, 25, 0) 80%, #191919 100%);
			@include m-phone() {
				display: none;
			}
		}
	}
	&__item {
		border: 1px solid #282828;
		padding-top: 100%;
		position: relative;
	}
	&__button {
		display: flex;
		justify-content: center;
	}
	.owl {
		&-stage {
			margin-left: -20px;
			@include m-phone() {
				margin-left: 0;
			}
			&-outer {
				@include m-phone() {
					overflow: visible;
				}
			}
		}
		&-item {
			&.center {
				margin: 0 40px 0 20px !important;
				@include m-phone() {
					margin: 0 35px 0 0 !important;
				}
				.spinwheel {
					&__wrap {
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&__wrap {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%);
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: opacity $trsn 3s;
			opacity: 0;
		}
	}
	&__image {
		width: 50px;
		height: 50px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin: 0 auto 20px;
		@include m-tablet() {
			width: 40px;
			height: 40px;
		}
	}
	&__title {
		text-align: center;
		font-size: 16px;
		line-height: 22px;
		@include m-tablet() {
			font-size: 13px;
			line-height: 18px;
		}
	}
}