.worth {
	padding-top: 60px;
	padding-bottom: 30px;
	@include m-phone() {
		padding-top: 30px;
	}
	&__tabs {
		display: flex;
		align-items: flex-end;
		justify-content: center;
		@include m-tablet() {
			overflow-x: scroll;
			width: 100%;
			justify-content: flex-start;
		}
		@include m-phone() {
			display: none;
		}
	}
	&__select {
		display: none;
		@include m-phone() {
			display: block;
			margin-bottom: 25px;
		}
	}
	&__tab {
		flex: 0 1 auto;
		padding: 10px 15px;
		font-weight: 700;
		font-size: 20px;
		line-height: 26px;
		border-bottom: 1px solid #2E2E2E;
		position: relative;
		cursor: pointer;
		@include m-tablet() {
			font-size: 18px;
		}
		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 3px;
			background-color: #8E1C2E;
			left: 0;
			bottom: -2px;
			opacity: 0;
			transition: opacity $trsn;
		}
		&.active {
			&:before {
				opacity: 1;
			}
		}
	}
	&__content {
		margin-top: 48px;
		position: relative;
		transition: height $trsn;
	}
	&__container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		visibility: hidden;
		&.active {
			visibility: visible;
		}
		&-wrap{
			position: relative;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			&:not(:last-child){
				margin-bottom: 30px;
			}

		}
	}
	&__col {
		&_small {
			flex: 0 0 200px;
			@include m-tablet-wide() {
				flex: 0 0 140px;
			}
			@include m-phone() {
				flex: 0 0 120px;
			}
		}
		&_large {
			flex: 1 1 100%;
			min-width: 0;
			@include m-phone() {
				position: relative;
				&:before {
					position: absolute;
					content: '';
					width: 20px;
					height: 100%;
					left: 0;
					top: 0;
					background: linear-gradient(90deg, #191919 0%, rgba(25, 25, 25, 0) 100%), linear-gradient(90deg, #191919 0%, rgba(25, 25, 25, 0) 100%);
					z-index: 2;
					pointer-events: none;
				}
			}
		}
	}
	&__row {
		border-bottom: 1px solid #2E2E2E;
		padding-left: 15px;
		padding-top: 12px;
		padding-bottom: 15px;
		&_line {
			position: relative;
			&:before {
				position: absolute;
				content: '';
				height: 45px;
				width: 3px;
				background-color: #8E1C2E;
				left: 0;
				top: 10px;
			}
		}
	}
	&__price {
		padding: 4px 6px;
		&_color {
			background-color: #8E1C2E;
		}
	}
	&__model {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		@include m-phone() {
			font-size: 18px;
		}
	}
	&__year {
		font-size: 14px;
		line-height: 17px;
	}
	&__table {
		width: 100%;
		@include m-tablet() {
			overflow-x: scroll;
		}
		table {
			text-align: center;
			width: 100%;
		}
		td, th {
			border-bottom: 1px solid #2E2E2E;
			font-size: 16px;
			line-height: 19px;
			@include m-tablet() {
				min-width: 110px;
			}
		}
		th {
			font-weight: 400;
			height: 69px;
			span {
				display: block;
				font-weight: 700;
			}
		}
		td {
			padding: 16px 0;
		}
	}
	&__button {
		margin-top: 50px;
		display: flex;
		justify-content: center;
	}
}