.button {
	cursor: pointer;
	background-color: #fff;
	text-align: center;
	font-size: 13px;
	color: $color_body;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 18px 44px;
	font-weight: 700;
	transition: $trsn;
	display: inline-block;
	border: none;
	outline: none;
	@include m-tablet() {
		padding: 14px 25px;
	}
	@include m-phone() {
		display: block;
		width: 100%;
	}
	&:hover {
		background-color: #dcdcdc;
	}
	&_full {
		width: 100%;
	}
	&_red{
		background-color: $color_red;
		color: $color_white;
		&:hover{
			background-color: $color_white;
			color: $color_body;
		}
	}
	&_callback{
		font-size: 24px;
		text-transform: uppercase;
		padding: 25px;
		margin: 100px 0 40px;
		@include m-tablet-wide() {
			font-size: 20px;
			margin: 60px 0 20px;
			padding: 20px;
		}
		@include m-tablet() {
			font-size: 16px;
			margin: 40px 0 20px;
			padding: 20px;
		}
		@include m-phone() {
			display: flex;
			text-align: left;
		}
		.button{
			&__icon{
				margin-left: 35px;
				transition: $trsn;
				@include m-tablet() {
					margin-left: 20px;
				}
				svg{
					width: 62px;
					height: 16px;
					fill: $color_white;
					transition: $trsn;
					@include m-tablet() {
						width: 42px;
						height: 12px;
					}
				}
			}
		}
		&-wrap{
			@include m-phone() {
				max-width: 355px;
				margin: 0 auto;
				display: flex;
				align-items: center;
			}
		}
		&:hover{
			.button{
				&__icon{
					svg{
						fill: $color_body;
					}
				}
			}
		}
	}
	&__icon{
		display: inline-block;
	}
}