.input-checkbox {
	cursor: pointer;
	user-select: none;
	display: block;
	-webkit-appearance: none;
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	&__wrap {
		cursor: pointer;
	}
	&:checked {
		& + span {
			&:before {
				background-color: $color_blue;
				border-color: $color_blue;
			}
			&:after {
				opacity: 1;
			}
		}
	}
	& + span {
		padding-left: 39px;
		position: relative;
		font-size: 14px;
		line-height: 17px;
		font-weight: 500;
		display: block;
		padding-top: 5px;
		@include m-phone() {
			padding-left: 26px;
			padding-top: 0;
		}
		&:before {
			position: absolute;
			content: '';
			border-radius: 2px;
			border: 1px solid #e2e2e2;
			background-color: transparent;
			width: 24px;
			height: 24px;
			top: 0;
			left: 0;
			transition: background-color $trsn, border-color $trsn;
			@include m-phone() {
				width: 14px;
				height: 14px;
			}
		}
		&:after {
			position: absolute;
			content: '';
			width: 12px;
			height: 10px;
			top: 8px;
    		left: 7px;
			background: url("../img/style/icons/icon_check.svg") no-repeat center center;
			background-size: contain;
			opacity: 0;
			transition: opacity $trsn;
			@include m-phone() {
				width: 8px;
				height: 7px;
				top: 5px;
				left: 4px;
			}
		}
	}
}