.input-file {
	width: auto;
	border-radius: 0;
	box-shadow: none;
	overflow: visible;
	@include m-phone() {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: calc(50% - 5px);
		max-width: calc(50% - 5px);
		margin-left: 0;
	}
	.jq {
		&-file {
			&__name {
				display: none;
			}
			&__browse {
				position: relative;
			    top: 0px;
			    right: auto;
			    left: 0;
			    padding: 0;
			    width: 120px;
				height: 85px;
				border: 1px dashed currentColor;
			    border-radius:0;
			    background: none;
			    box-shadow: none;
			    font-size: 0;
			    color: #585858;
			    text-shadow: none;
			    transition: color $trsn;
			    @include m-phone() {
			    	width: 100%;
			    }
			    &:before, &:after {
			    	position: absolute;
			    	content: '';
			    	width: 12px;
			    	height: 2px;
			    	top: 50%;
			    	left: 50%;
			    	background-color: currentColor;
			    }
			    &:before {
			    	transform: translate(-50%, -50%);
			    }
			    &:after {
			    	transform: translate(-50%, -50%) rotate(90deg);
			    }
			}
		}
	}
	&:hover {
		.jq {
			&-file {
				&__browse {
					color: #fff;
					background: none;
				}
			}
		}
	}
	&.focused {
		.jq {
			&-file {
				&__name {
					border: none;
					border-bottom: 1px solid transparent;
				}
			}
		}
	}
	input {
		width: 100%;
		height: 100%;
		position: absolute;
		opacity: 0;
		-webkit-appearance: none;
		top: 0;
		left: 0;
		font-size: 0;
		@include m-phone() {
			max-width: 100%;
		}
	}
}
.jq-file.has-error {
	.jq-file__browse {
		color: red;
	}
}
