.custom-slider {
	.owl {
		&-nav {
			position: absolute;
			height: 0;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&-control {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			box-shadow: none;
			transition: background-color $trsn;
			@include m-phone() {
			}
			svg {
				fill: $color_body;
				width: 9px;
				height: 15px;
				transition: fill $trsn;
			}
			&:hover {
				background-color: rgba(255,255,255,0.7);
				@include m-phone() {
					background-color: #fff;
				}
			}
		}
		&-prev {
			left: 0px;
			svg {
				transform: rotate(-180deg);
			}
		}
		&-next {
			right: 0px;
		}
		&-dots {
			position: absolute;
			top: auto;
			bottom: -30px;
			right: auto;
			left: 50%;
			transform: translateX(-50%);
			display: flex;
			align-items: stretch;
			justify-content: flex-end;
		}
		&-dot {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: 0 4px;
			background-color: #282828 !important;
			transition: background-color $trsn;
			outline: none;
			&.active {
				background-color: $color_red !important;
			}
		}
	}
	&_one {
		.owl {
			&-nav {
				width: 120px;
				top: -75px;
				right: 0;
				transform: none;
			}
		}
	}
}