.input-radio {
	cursor: pointer;
	user-select: none;
	display: block;
	-webkit-appearance: none;
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	&-wrap {
		cursor: pointer;
	}
	& + span {
		display: block;
		text-align: center;
		padding-bottom: 14px;
		border-bottom: 1px solid #EDEDED;
		font-weight: 600;
		font-size: 11px;
		line-height: 11px;
		color: #373737;
		transition: border-bottom $trsn;
	}
	&:checked {
		& + span {
			border-bottom: 1px solid $color_green;
		}
	}
}