.jq-selectbox{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    &__select{
        background: #191919;
        border: 1px solid #282828;
        box-shadow: none;
        border-radius: 0px;
        text-shadow: none;
        font-size: 16px;
        font-weight: 700;
        padding: 15px 20px;
        height: 50px;
        text-align: left;
        color: #fff;
        -webkit-appearance: none;
        font-family: $font_base;
        &-text {
            line-height: 20px;
        }
        &:active {
            box-shadow: none;
        }
        &:hover {
            border: 1px solid #282828;
            background: transparent;
        }
    }
    &__trigger {
        border-left: none;
        width: 44px;
        @include m-tablet() {
            width: 34px;
        }
        &-arrow {
            border: none;
            width: 15px;
            height: 3px;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/style/icons/icon_drop.svg') no-repeat;
            transition: .2s;
        }
    }
    &.opened {
        .jq-selectbox {
            &__select {
                background: #191919;
                border: 1px solid #282828;
            }
            &__trigger {
                &-arrow {
                    transform: translateY(-50%);
                }
            }
        }
    }
    &.focused {
        .jq-selectbox {
            &__select {
                background: #191919;
                border: 1px solid #282828;
            }
        }
    }
    &.disabled {
        .jq-selectbox {
            &__select {
                opacity: 0.5;
                border: 1px solid #282828;
                background-color: #191919;
            }
        }
    }
    &__dropdown {
        border: none;
        border-radius: 0;
        text-align: left;
        box-shadow: none;
        font-family: $font_base;
        font-size: 12px;
    }
    li {
        border-bottom: 1px solid #e3e3e3;
        line-height: 50px;
        height: 50px;
        padding: 0 15px;
        @include m-tablet() {
            padding: 0 10px;
        }
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background-color: #f0f0f0;
            color: #000;
        }
    }
}
select {
    -webkit-appearance: none;
}

@media screen and (max-width: 767px) {
    select {
        font-size: 16px;
    }
    .jq-selectbox{
        &__select {
            font-size: 16px;
        }
    }
}