.input-textarea {
	border-radius: 0px;
	width: 100%;
	font-size: 16px;
	padding: 0px;
	height: 35px;
	outline: none;
	color: #373737;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid currentColor;
	font-family: $font_base;
	resize: none;
	white-space: nowrap;
	overflow: hidden;
	@include m-tablet() {
		padding: 0 10px;
	}
	&::placeholder {
		color: currentColor;
	}
	&:focus {
    	border-bottom: 1px solid $color_green;
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	&.has-error {
		color: #f00;
	}
}

@media (max-width: 767px) {
	.input-textarea {
		font-size: 16px;
		-webkit-appearance: none;
	}
}
