.input-text {
	border-radius: 0px;
	width: 100%;
	font-size: 16px;
	padding: 0px 16px;
	height: 52px;
	outline: none;
	color: #fff;
	background-color: transparent;
	border: 1px solid currentColor;
	font-family: $font_base;
	@include m-tablet() {
		padding: 0 10px;
	}
	@include m-phone() {
		height: 46px;
	}
	&::placeholder {
		color: currentColor;
	}
	&:focus {
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
	&.has-error {
		color: #f00;
	}
}

@media (max-width: 767px) {
	.input-text {
		// height: 48px;
		// font-size: 16px;
		// -webkit-appearance: none;
	}
}
