@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-Medium.woff2') format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-Bold.woff2') format('woff2');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mazda Type Cyrillic';
    src: url('MazdaTypeCyrillic-Regular.woff2') format('woff2');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

