html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    // overflow: hidden;
    // height: 100vh;
    // height: calc(var(--vh, 1vh) * 100);
    &.full {
        height: 100%;
        overflow: hidden;
    }
}

body {
    font-size: 14px;
    margin: 0;
    background: $color_body;
    color: $color_white;
    font-weight: $font_weight;
    font-family: $font_base;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    &.over {
        overflow: hidden;
    }
}

.body {
    
}


p {
    margin: 10px 0 15px;

    &:first-child {
        margin-top: 0;
    }
}

* {
    box-sizing: border-box;

    &:focus, &.focus {
        outline: -webkit-focus-ring-color auto 5px;
    }
}

a {
    outline: none;
    color: inherit; 
    text-decoration: none;
    // transition: $transition;

    &:hover, &:focus {
        outline: none;
        text-decoration: none;
    }
}

.js-no-dots {
    .owl-dots {
        display: none !important;
    }
}

.wrapper {
    overflow-x: hidden;
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    transition: filter $trsn;
    will-change: filter;
    height: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100%;
    max-width: 1230px; 
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &__image {
        flex: 0 0 54px;
        margin-right: 40px;
        @include m-phone() {
            flex: 0 0 38px;
            margin-right: 10px;
        }
    }
    &__text {
        &-large {
            display: block;
            font-size: 24px;
            font-weight: 500;
            line-height: 29px;
            margin-bottom: 2px;
            @include m-phone() {
                font-size: 16px;
                line-height: 19px;
            }
        }
        &-small {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            display: block;
            @include m-phone() {
                font-size: 10px;
                line-height: 12px;
            }
        }
    }
    img {
        width: 100%;
    }
}

.title {
    &-2 {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        margin-top: 0;
        margin-bottom: 0px;
        text-align: center;
        text-transform: uppercase;
        @include m-tablet() {
            font-size: 32px;
            line-height: 40px;
        }
        @include m-phone() {
            font-size: 24px;
            line-height: 29px;
        }
    }
}

.rouble {
    font-family: $font_rouble;
}

.ttu {
    text-transform: uppercase;
}
.tac {
    text-align: center;
}
.tal {
    text-align: left;
}
.bold {
    font-weight: 700;
}
.light {
    font-weight: 300;
}
.block {
    display: block;
}
.z1 {
    z-index: 1;
}
.z2 {
    z-index: 2;
}
.z3 {
    z-index: 3;
}
.z4 {
    z-index: 4;
}
.z6 {
    z-index: 6;
}



img {
    max-width: 100%;
}

.hidden {
    display: none !important;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


[role="button"] {
    cursor: pointer;
}

.hidden_desktop {
    display: none !important;
}
.hidden_desktop-fx {
    display: none !important;
}

.owl-carousel .animated {
    animation-duration: 0.2s;
    animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
    z-index: 0;
}

.owl-carousel .owl-animated-out {
    z-index: 1;
}

.owl-carousel .fadeOut {
    animation-name: fadeOut;
}
.owl-carousel .fadeIn {
    animation-name: fadeIn;
    animation-delay: 0.2s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@media (max-width: 1279px) {
    .container {
        max-width: 1024px;
        padding: 0 30px;
    }
}
@media (max-width: 1023px) {
    .container{
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .container{
        padding: 0 10px;
        max-width: 375px;
    }

    body {
        &.safari {
        }
    }

    


    .hidden_desktop {
        display: block !important;
    }
    .hidden_desktop-fx {
        display: flex !important;
    }

    .hidden_mobile {
        display: none !important;
    }
}