//шрифты
$font_size_default: 14;
$font_size: 14px;
$line_height: 20px;
$font_weight: 400;

$font_base: 'Mazda Type Cyrillic', sans-serif;
$font_rouble: 'PT Rouble Sans', sans-serif;

//цвета
$color_body: #191919;
$color_text: #fff;

$color_white: #ffffff;
$color_black: #2B2A29;
$color_gray: #98A9AF;
$color_gray2: #F0f0f0;
$color_red: #8E1C2E;
$color_red_dark: #CD180A;
$color_blue: #1394AE;
$color_green: #9FC54B;

// gradient
$gradient: linear-gradient(90deg, #A0C549 4.89%, #8EBB5A 27.51%, #008DBA 90.86%);

//отступ
$padding: 0px;

//
$trsn: 0.2s;