.section {
	position: relative;
	&_pt {
		padding-top: 70px;
		@include m-tablet() {
			padding-top: 50px;
		}
	}
	&_pb {
		padding-bottom: 30px;
		@include m-tablet() {
			padding-bottom: 20px;
		}
	}
	&__descr {
		font-size: 14px;
		line-height: 24px;
		text-align: center;
		max-width: 700px;
		margin: 15px auto 0;
	}
}