.footer {
	&__wrap {
		padding: 50px 0 75px;
		@include m-phone() {
			padding: 22px 0 55px;
		}
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;
		@include m-phone() {
			margin-bottom: 30px;
		}
	}
	&__logo {
		font-size: 24px;
		text-transform: uppercase;
		line-height: 29px;
		font-weight: 700;
		transition: opacity $trsn;
		&:hover {
			opacity: 0.7;
		}
		@include m-phone() {
			font-size: 18px;
			line-height: 22px;
		}
	}
	&__socials {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&-item {
			flex: 0 0 32px;
			margin-left: 12px;
			transition: opacity $trsn;
			@include m-phone() {
				font-size: 0 0 26px;
				margin-left: 10px;
			}
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__descr {
		font-weight: 500;
		font-size: 12px;
		line-height: 18px;
		color: #4D4D4D;
		p {
			margin-bottom: 18px;
		}
		a {
			transition: color $trsn;
			&:hover {
				color: #fff;
			}
		}
	}
}

.socials_img {
	width: 38px;
	max-width: none;
}