.header {
	&__wrap {
		padding: 20px 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__side {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__phone {
		font-weight: 700;
		font-size: 18px;
		line-height: 22px;
		margin-right: 30px;
		@include m-tablet() {
			display: none;
		}
		@include m-phone() {
			display: block;
			font-size: 12px;
			line-height: 14px;
			margin-right: 0;
		}
	}
	&__button {
		@include m-phone() {
			display: none;
		}
	}
}