.fancybox {
	&-container {
		overflow: hidden;
	}
	&-close {
		&-small {
			display: none;
		}
	}
	&-slide {
		& > * {
			margin: 0;
			overflow: visible;
		}
	}
}

.modal {
	padding: 50px 50px 50px;
	width: 100%;
	max-width: 845px;
	background-color: #131313;
	border-radius: 0px;
	position: relative;
	display: none;
	@include m-phone() {
		padding: 10px;
		max-width: 375px;
	}
	&_small{
		max-width: 460px;
		@include m-phone() {
			padding: 20px;
		}
		.modal{
			&__title{
				font-size: 22px;
			}
		}
		p{
			font-size: 14px;
			line-height: 18px;
		}
	}
	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		padding: 10px;
		cursor: pointer;
		@include m-phone() {
			right: 10px;
			top: 10px;
		}
		svg {
			width: 20px;
			height: 20px;
			fill: #fff;
			transition: fill $trsn;
		}
		&:hover {
			svg {
				fill: $color_red;
			}
		}
	}
	&__wrap {
		.masters {
			&__item {
				padding: 0;
				display: flex;
				align-items: center;
				justify-content: space-between;
				@include m-phone() {
					display: block;
				}
			}
			&__row {
				flex: 1 1 auto;
				&_fs {
					justify-content: flex-end;
					@include m-phone() {
						justify-content: flex-start;
					}
				}
			}
			&__data {
				@include m-phone() {
					flex: 1;
				}
				&:not(:last-child) {
					margin-right: 50px;
					@include m-phone() {
						margin-right: 0;
					}
				}
			}
		}
	}
	&__title {
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		margin-bottom: 20px;
		@include m-phone() {
			font-size: 18px;
		}
		&_big{

		}
	}
	&__ul {
		margin-bottom: 50px;
		@include m-phone() {
			margin-bottom: 30px;
		}
		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-size: 14px;
			line-height: 24px;
		}
	}
	&__images {
		margin-left: -43px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		@include m-phone() {
			margin-left: -28px;
		}
	}
	&__image{
		@include m-phone() {
			@include flex-item(2, 20px);
		}
	}
	&__list {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 50px;
		@include m-phone() {
			margin-bottom: 10px;
		}
		&-item {
			@include m-phone() {
				@include flex-item(2, 20px);
			}
		}
		&-value {
			font-weight: 700;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 4px;
		}
		&-label {
			font-size: 12px;
			line-height: 14px;
		}
	}
	&__form{
		margin-top: 30px;
		&-row{
			&:not(:last-child){
				margin-bottom: 20px;
			}
		}
	}
	
}